## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
fig=gmaps.figure()

In [3]:
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mar Del Plata,AR,70.00,mist,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,Port Alfred,ZA,68.50,overcast clouds,-33.5906,26.8910,The Halyards Hotel
2,Coahuayana,MX,75.20,clear sky,18.7333,-103.6833,El rranchito michuacan de ocampos
3,Lichinga,MZ,64.40,broken clouds,-13.3128,35.2406,Residencial Bendiak
4,Hobart,AU,64.40,light rain,-42.8794,147.3294,Mantra on Collins Hobart
...,...,...,...,...,...,...,...
143,Imbituba,BR,73.40,broken clouds,-28.2400,-48.6703,Praia Hotel Imbituba
144,Columbus,US,66.99,scattered clouds,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...
145,Itapecerica,BR,69.39,overcast clouds,-20.4725,-45.1256,Paraíso da Zé
146,Ranong,TH,75.20,clear sky,9.9658,98.6348,Tinidee Hotel@Ranong
147,Kadi,IN,75.20,smoke,23.3000,72.3333,Ahmedkhan Saheb Ka Sakkarpura

In [5]:
vacation_df.loc[vacation_df["Country"]=="US"]

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
14,Austin,US,69.01,overcast clouds,30.2672,-97.7431,The Driskill - In the Unbound Collection by Hyatt
30,Clarksburg,US,68.00,clear sky,39.2807,-80.3445,Greenbrier Motel & Restaurant
31,Bayonet Point,US,70.00,scattered clouds,28.3267,-82.6834,Homewood Suites by Hilton Tampa-Port Richey
54,San Jose,US,66.99,broken clouds,37.3394,-121.8950,The Westin San Jose
61,Waggaman,US,70.00,overcast clouds,29.9185,-90.2109,Candlewood Suites Avondale-New Orleans
63,Russell,US,64.40,few clouds,32.3502,-85.1999,Macs
78,Buckeye,US,73.00,clear sky,33.3703,-112.5838,Buckeye Motor Hotel
87,Laguna,US,66.20,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
101,Ridgecrest,US,68.00,broken clouds,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest
108,Bluffton,US,66.99,clear sky,32.2371,-80.8604,Holiday Inn Express & Suites Bluffton @ Hilton...
115,Seguin,US,71.60,haze,29.5688,-97.9647,La Quinta Inn & Suites by Wyndham Seguin
144,Columbus,US,66.99,scattered clouds,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...

In [6]:
# random.randit

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations =vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Austin"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Austin"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Clarksburg"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Bayonet Point"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="San Jose"]

In [10]:
vacation_df.to_numpy()

array([['Mar Del Plata', 'AR', 70.0, ..., -38.0023, -57.5575,
        'Gran Hotel Mar del Plata'],
       ['Port Alfred', 'ZA', 68.5, ..., -33.5906, 26.891,
        'The Halyards Hotel'],
       ['Coahuayana', 'MX', 75.2, ..., 18.7333, -103.6833,
        'El rranchito michuacan de ocampos'],
       ...,
       ['Itapecerica', 'BR', 69.39, ..., -20.4725, -45.1256,
        'Paraíso da Zé'],
       ['Ranong', 'TH', 75.2, ..., 9.9658, 98.6348,
        'Tinidee Hotel@Ranong'],
       ['Kadi', 'IN', 75.2, ..., 23.3, 72.3333,
        'Ahmedkhan Saheb Ka Sakkarpura']], dtype=object)

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [18]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip_usa = gmaps.directions_layer(
        start, end, waypoints=[stop1],
        travel_mode='DRIVING')
fig.add_layer(trip_usa)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Austin,US,69.01,overcast clouds,30.2672,-97.7431,The Driskill - In the Unbound Collection by Hyatt
1,Clarksburg,US,68.00,clear sky,39.2807,-80.3445,Greenbrier Motel & Restaurant
2,Bayonet Point,US,70.00,scattered clouds,28.3267,-82.6834,Homewood Suites by Hilton Tampa-Port Richey
3,San Jose,US,66.99,broken clouds,37.3394,-121.8950,The Westin San Jose

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))